:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --backgruond-color: #ffffff;
  --footer-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --social-bg-color: rgba(255, 255, 255, 0.1);
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --hero-btn-hover-color: #188ce8;
  --examples-bg-color: rgba(47, 48, 58, 0.8);
}

body {
  background-color: var(--backgruond-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop.is-hidden {
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

.section {
  color: var(--text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  color: var(--title-color);
  margin-bottom: 4px;
}
.section-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header {
  border: 1px solid #ececec;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 94px;
}

.current-p {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container__footer {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container__footer {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container__footer {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.list {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .list {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .list {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.8;
  color: var(--backgruond-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.06em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--hero-btn-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.logo__accent--web {
  color: #2196f3;
}

.logo__accent--studio {
  color: #000000;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list,
.item {
  color: var(--title-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list .item:last-child {
  margin-right: 0;
}

.item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation__list .nav:focus,
.navigation__list .nav:hover,
.site-nav__link--active {
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.contact__list--item {
  color: var(--text-color);
}
@media screen and (max-width: 767px) {
  .contact__list--item {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__list--item:hover,
.contact__list--item:focus {
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.navigation__list .navigation__list--item + .navigation__list--item,
.contacts__list .contact__list--item + .contact__list--item {
  margin-left: 50px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact__link--icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 1200px) {
  .contact__link {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16px;
  }
}

.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero--overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/ImgOverlay.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/ImgOverlay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.hero__tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--backgruond-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 696px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.8;
  color: var(--backgruond-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.06em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-btn-hover-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.tittle__form {
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.advance-list--tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advence__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
}
@media screen and (max-width: 480px) {
  .advence__container {
    width: 450px;
  }
}

.advence__text {
  line-height: 1.71;
}

.advance-list__item {
  margin-right: 30px;
  width: 270px;
}
@media screen and (max-width: 768px) {
  .advance-list__item {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .advance-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advance-list__item {
    width: 270px;
  }
}

.advence__icon {
  width: 70px;
  height: 70px;
}

.section-work {
  padding-top: 0;
}
@media screen and (max-width: 1200px) {
  .section-work {
    width: 1200px;
    display: none;
  }
}

.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.product__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product__item {
  position: relative;
  margin-right: 30px;
  display: block;
  height: auto;
  max-width: 100%;
}

.product__item:last-child {
  margin-right: 0;
}

.product__types--tittle {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--backgruond-color);
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
}

.team-bg-color {
  background-color: var(--team-bg-color);
}

.people__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team__list--img {
  display: block;
  height: auto;
  max-width: 100%;
}

.people__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__list--people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backgruond-color);
}
@media screen and (max-width: 479px) {
  .team__list--people {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .team__list--people {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list--people {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list--people {
    width: 1200px;
    width: 270px;
  }
}

.team__list--people:last-child {
  margin-right: 0;
}

.description__team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.description__team .social__link:hover,
.description__team .social__link:focus {
  color: var(--backgruond-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.social__list .social__link + .social__link {
  margin-left: 10px;
}

.instagram {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 12px;
  fill: #afb1b8;
}
.instagram:hover, .instagram:focus {
  fill: var(--backgruond-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.twitter {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-bottom: 14px;
  margin: 12px;
  fill: #afb1b8;
}
.twitter:hover, .twitter:focus {
  fill: var(--backgruond-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.facebook {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 12px;
  fill: #afb1b8;
}
.facebook:hover, .facebook:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.linkedin {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 12px;
  fill: #afb1b8;
}
.linkedin:hover, .linkedin:focus {
  fill: var(--backgruond-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.social__list,
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 44px;
}

.social__list .social__item + .social__item {
  margin-left: 10px;
}

.social__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social__icon:hover, .social__icon:focus {
  fill: var(--backgruond-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  background-color: var(--social-bg-color);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.social__icon-footer {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--backgruond-color);
}

.footer__container {
  color: var(--backgruond-color);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__container {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    margin-left: 70px;
  }
}

.social__list {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .social__list {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.client__list {
  margin-left: -30px;
}
@media screen and (max-width: 320px) {
  .client__list {
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
  .client__list {
    width: 479px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__list {
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .client__list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.client__item {
  margin-left: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: inherit;
  fill: #afb1b8;
}
@media screen and (max-width: 479px) {
  .client__link {
    width: 170px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.footer__logo {
  padding: 0;
  margin-bottom: 20px;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__logo--web {
  color: #2196f3;
}

.footer__logo--studio {
  color: var(--backgruond-color);
}

.footer__list--contact {
  margin-bottom: 9px;
}

.adress {
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  color: var(--backgruond-color);
  margin-top: 20px;
}

.contact__footer {
  display: block;
  margin: 0;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  color: var(--footer-address-color);
}

.contact__footer:hover,
.contact__footer:focus {
  color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.footer__tittle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--backgruond-color);
}
@media screen and (min-width: 320px) {
  .footer__tittle {
    text-align: center;
  }
}
@media screen and (min-width: 1999px) {
  .footer__tittle {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tittle {
    width: 219px;
    text-align: center;
  }
}

.footer__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
  }
}
@media screen and (min-width: 320px) {
  .footer__form {
    padding: 15px 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 358px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--backgruond-color);
  background-color: var(--footer-bg-color);
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 320px) {
  .subscription__input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1999px) {
  .subscription__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.8;
  padding-left: 29px;
  color: var(--backgruond-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.06em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .subscription__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__button {
    margin-left: 12px;
  }
}

.icon-send {
  margin: 0;
  margin-right: 28px;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--backgruond-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  /* pointer-events: none; */
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  background-color: var(--backgruond-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
}

.modal__close--icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--backgruond-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form__label {
  display: block;
  margin-bottom: 4px;
  text-align: start;
}
.form__icon {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 18px;
  height: 18px;
  background-color: var(--backgruond-color);
  fill: var(--title-color);
}

.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

textarea {
  resize: none;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field input {
  margin: 0;
  padding: 12px;
  padding-left: 42px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.form__input:focus {
  border-color: var(--accent-color);
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  position: absolute;
  left: 52px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
}

.check__container {
  font-size: 14px;
  margin-bottom: 30px;
}

.link-form {
  color: var(--accent-color);
}

.portfolio-text {
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 320px) {
  .portfolio-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 56px;
  }
}

.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.text-color-button:hover,
.text-color-button:focus {
  color: var(--backgruond-color);
  background-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.text-button:hover,
.text-button:focus {
  color: var(--backgruond-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.filtr-portfolio:hover,
.filtr-portfolio:focus {
  background-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.filtr-portfolio:last-child {
  margin-right: 8px;
}

.cards-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cards-link {
  display: block;
  text-decoration: none;
}

.cards-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.description-cards:hover,
.description-cards:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .description-cards {
    width: 354px;
    -ms-flex-preferred-size: calc(100% - 60px)/2;
        flex-basis: calc(100% - 60px)/2;
  }
}
@media screen and (min-width: 1200px) {
  .description-cards {
    width: 370px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.description-cards:nth-child(3n) {
  margin-right: 0;
}

.description-cards:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.overlay-text {
  font-size: 18px;
  line-height: 1.555;
  padding: 0 24px;
}

.portfolio-cards-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--backgruond-color);
  background-color: var(--accent-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link-cards {
  position: relative;
  overflow: hidden;
}

.cards-link:hover .portfolio-cards-overlay,
.cards-link:focus .portfolio-cards-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}/*# sourceMappingURL=main.css.map */