.checkbox {
  position: absolute;
  appearance: none;
}
.checkbox__icon {
  position: absolute;
  left: 52px;
  display: block;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
}
.checkbox:checked + .checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
}
.check__container {
  font-size: 14px;
  margin-bottom: 30px;
}
.link-form {
  color: var(--accent-color);
}
