.client__list {
  // display: flex;
  margin-left: calc(-1 * 30px);

  @media screen and (max-width: 320px) {
    width: 320px;
    flex-direction: column;
  }

  @media screen and (max-width: 479px) {
    width: 479px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
  }
}

.client__item {
  // flex-basis: calc(100% / 6-30px);
  margin-left: 30px;
}
