.contact__list--item {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.contact__list--item:hover,
.contact__list--item:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.navigation__list .navigation__list--item + .navigation__list--item,
.contacts__list .contact__list--item + .contact__list--item {
  margin-left: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  &--icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
    width: 16px;
    height: 16px;
  }
}
