.footer__list--contact {
  margin-bottom: 9px;
}

.adress {
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  color: var(--backgruond-color);
  margin-top: 20px;
}
.contact__footer {
  display: block;
  margin: 0;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  color: var(--footer-address-color);
}

.contact__footer:hover,
.contact__footer:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
