.footer__tittle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--backgruond-color);
  @media screen and (min-width: 320px) {
    text-align: center;
  }

  @media screen and (min-width: 1999px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    width: 219px;
    text-align: center;
  }
}
