.form__icon {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 18px;
  height: 18px;
  background-color: var(--backgruond-color);
  fill: var(--title-color);
}
.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}
