.navigation {
  display: flex;
  align-items: center;

  // &-mobile {
  //   display: none;

  //   @media (min-width: 1000px) {
  //     display: block;
  //   }
  // }
}
.navigation__list,
.item {
  color: var(--title-color);
  display: flex;
}
.navigation__list .item:last-child {
  margin-right: 0;
}
.item__link {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation__list .nav:focus,
.navigation__list .nav:hover,
.site-nav__link--active {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
