.section {
  color: var(--text-color);
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--title-color);
    margin-bottom: 4px;
  }
  // Section footer
  &-footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
