.section {
  color: var(--text-color);
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--title-color);
    margin-bottom: 4px;
  }
  // Section footer
  &-footer {
    background-color: #2f303a;
    padding: 60px 0;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
