.section-footer .container {
  display: flex;
  align-items: baseline;
}
.social__icon-footer {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--backgruond-color);
}
.footer__container {
  margin-left: 70px;
  color: var(--backgruond-color);
}
