.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.8;

  padding-left: 29px;
  color: var(--backgruond-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.06em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
