.team-bg-color {
  background-color: var(--team-bg-color);
}
.people__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team__list--img {
  display: block;
  height: auto;
  max-width: 100%;
}

.people__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team__list--people {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backgruond-color);
}
.team__list--people:last-child {
  margin-right: 0;
}

.description__team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.description__team .social__link:hover,
.description__team .social__link:focus {
  color: var(--backgruond-color);
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
